@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
}

.slick-prev {
  left: 25px;
  z-index: 1;
}

.slick-next {
  right: 25px;
  z-index: 0;
}

.slick-dots li button:before {
  font-size: 10px;
}